@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    color: #fff;
    font-family: 'Be Vietnam Pro', sans-serif;
    background-image: url('../images/bg-image.svg');
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
    padding: 1rem;
}

.logo {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    column-gap: 1.5rem;
}

h1 {
    font-size: 3rem;
    text-align: center;
    width: 80%;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.2rem;
    text-align: center;
    width: 65%;
    margin-bottom: 3rem;
    font-weight: 500;
}

.contact-form {
    width: 92%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 2rem;
    border-radius: 20px;
    font-size: 1.2rem;
}

.form-submit {
    background-color: #fff;
    color: #4036A9;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
    margin-bottom: 4rem;
}

.form-submit:hover {
    background-color: #4036A9;
    color: #fff;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding-bottom: 1rem;
}

.form-group input {
    color: #111729;
    border-radius: 15px;
    border: none;
    padding: 1.5rem;
    font-size: 1rem;
    font-weight: 700;
}

.form-group ::placeholder{
    color: #CDD5E0;
}

.form-group label {
    font-size: 0.875rem;
}

.form-select {
    color: #111729;
    border-radius: 15px;
    border: none;
    padding: 1.25rem;
    font-weight: 700;
    background-color: #fff;
    font-size: 1rem;
}

.form-textarea {
    color: #111729;
    min-height: 150px;
    border-radius: 10px;
    border: none;
    padding: 1rem;
    font-weight: 700;
    font-size: 1rem;
}

@media screen and (min-width: 641px) {
    .group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .form-group{
        width: 48%;
        margin: 1%;
    }

    .message{
        width: 100%;
    }


        h1 {
            width: 60%;
        }

        h2{
            width: 45%;
        }

                .form-submit {
                margin-bottom: 0;
                }
}

@media screen and (min-width: 1281px) {
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 2rem;
        width: 50%;
    }

    .contact-form{
        width: 60%;
    }
}